{% extends "base.html" %}

{% block title %}Главная страница{% endblock %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div>
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endwith %}

<div class="jumbotron bg-light p-4 rounded">
    <h1 class="display-4 mb-5">Добро пожаловать на Phyton On Web!</h1>
    <p class="lead">Сайт позволяет: </p>
    <ul>
        <li>Публиковать, редактировать и удалять статьи.</li>
        <li>Просматривать статьи других пользователей</li>
        <li>Контент доступен только авторизованным пользователям</li>
    </ul>
    <hr class="my-4">
    <p>Начните создавать контент прямо сейчас.</p>
    <a class="btn btn-primary btn-lg" href="{{ url_for('create_post') }}" role="button">Создать статью</a>
</div>
{% endblock %}
